* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.container {
  overflow: hidden;
  position: relative;
}
img {
  transition: 1s;
}
.text {
  transition: 3s;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
h1,
h2 {
  color: white;
  font-weight: 900;
  margin-bottom: 1rem;
}
h3 {visibility: hidden;
    opacity: 0;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 12.6rem;
  transition: 3s;
  color: beige;
  text-shadow: 3px 3px #b33e07;
}
.container:hover .text {
  transition-timing-function: cubic-bezier(0.28, 0.39, 0.73, 1.91);
  border-radius: 30%;
  text-shadow: 3px 3px #c0193a;
  opacity: 1;
  padding-top: 20rem;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.684);
}
.container:hover img {
  transition-timing-function: cubic-bezier(0.28, 0.39, 0.93, 2.01);
  transform: scale(1.1) rotate(0.1turn);
}
.container:hover h3 {
    font-size: 3.5rem;
  opacity: 1;
  text-shadow: 15px 45px #bae00e6c;
 visibility: visible;
  padding-bottom: 19rem;
}
